* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body{
    background-color: #ECF9F7;
    max-width: 980px;
    margin: 0 auto;
    padding: 2rem;
}

li {
   list-style: none;
}

a {
    text-decoration: none;
}

p{
    margin-bottom: 0.8rem;
}

header {
    display:flex;
}

.logo{
    flex-grow: 1;
}

.logo img{
    width: 3.5rem;
    margin-top: 1rem;
}

.navbar{
    display:flex;
}

.navbar li{
    padding: 20px;
    transition: background-color 0.3s;
}

.navbar li:hover{
    background-color: #C2E8EB;
}

.navbar a {
    font-size: 1.5rem;
    color: #464646;
    font-weight: 400;
}

.about{
    margin: 2rem auto;
    background-color: #C2E8EB;
    min-height: 12rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.aboutme{
    width: 60%;
    padding: 0.8rem;
    background-color: #f5f8f8;
    overflow-y: scroll;
}

.photo{
    background-image: url("../images/photo.jpg");
    background-size: 11rem;
    background-repeat: no-repeat;
    width: 10rem;
    height: 10rem;
    border-radius: 5px;

}

.photo:hover{
    background-image: url("../images/photo2.jpg");
}

#skills {
    background-color: #C2E8EB;
    padding: 2rem;
    border-radius: 5px;
}

.tableContainer {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 0.8rem;
}

td, th {
    border: 1px solid #f5f8f8;
    text-align: left;
    padding: 8px;
  }

th {
    background-color: #94C6DB;
    /* color: #f5f8f8; */
}

tr:nth-child(even) {
    background-color: #f5f8f8;
  }
  
table img{
    width: 1rem;
}

.skill_content {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

#projects {
    background-color: #C2E8EB;
    padding: 2rem;
    border-radius: 5px;
    margin: 2rem auto;
}

.project_content{
    display: flex;
    flex-direction: column;
}

.project_content li{
    padding: 0.5rem 0;
}

@media only screen and (max-width: 650px){
    .navbar{
       display: none;
    }

    .about{
        flex-direction: column;
    }
    .aboutme{
        width:90%;
    }

    .photo {
        position: absolute;
        top: 6rem;
        right: 2rem;
        height: 8rem;
        width: 8rem;
        background-position: center;
        border-radius: 50%;

    }
}